<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="_messageNumber" value="10000"/>
  <add key="_minDrop" value="1"/>
  <add key="_maxDrop" value="500"/>
  <add key="_minValue" value="1000"/>
  <add key="_maxValue" value="2000"/>
  <add key="_minVariation" value="1000"/>
  <add key="_maxVariation" value="3000"/>
  <add key="_companies" value="ASUS,Apple,Microsoft,Google,Facebook"/>
  <add key="_dates" value="2009-05-08,2010-02-03,2008-05-05,2018-03-29"/>
</appSettings>