<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="_messageNumber" value="20"/>
  <add key="_value" value="80"/>
  <add key="_drop" value="80"/>
  <add key="_variation" value="100"/>
  <add key="_companies" value="100"/>
  <add key="_dates" value="70"/>
  <add key="_operators" value="&gt;=,&lt;=,&lt;,&gt;,="/>
  <add key="_min-field" value="company"/>
  <add key="_min-op" value="="/>
  <add key="_min-freq-op" value="60"/>
</appSettings>